<div *ngIf="post">
  <p>
    {{ post.content }}
  </p>

  <div class="form">
    <textarea [(ngModel)]="content_input" cols="30" rows="4"></textarea>
    <br>
    <button (click)="create()"> Poster </button>
  </div>

  <ul>
    <li *ngFor="let comment of post.comments">
      {{ comment.content }}
    </li>
  </ul>
</div>

