body {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #E9EBEE;
  font-family: 'PT Sans Narrow', sans-serif;

  .error {
    border: 2px solid #FF0000;
  }

}



