.form {
  text-align: center;
  margin-bottom: 30px;
}

ul {
  margin: 5px 300px;
  list-style: none;
  padding: 0;

  li {
    background-color: #fff;
    text-align: justify;
    margin: 15px 0;

    p {
      padding: 5px;
      margin: 0;
    }

    .under-bar {
      background-color: #3B5998;
      color: #fff;
      display: flex;
      justify-content: space-around;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
