<div class="container">
  <div class="form">
    <textarea [(ngModel)]="content" cols="65" rows="8"></textarea>
    <br>
    <button (click)="create()"> Poster </button>
  </div>

  <div class="posts-list">
    <ul>
      <li *ngFor="let post of posts.reverse()">
        <p>
          {{ post.content }}
        </p>
        <div class="under-bar">
          <em>Posté le {{ post.created_at | date:'mediumDate' }}</em>
          <a [routerLink]="['/posts', post.id]">Voir le détail</a>
        </div>

      </li>
    </ul>
  </div>
</div>

