<div class="content">

  <div class="aside-content">
    <div class="pub-1">
      Ici une pub beaucoup trop envahissante.
    </div>

    <div class="pub-2">
      Et une autre ici parce qu'il faut bien qu'on gagne de la thune.
    </div>
  </div>

  <div class="main-content">
    <div class="main-title">INSCRIPTION</div>

    <div class="subtext">C'est gratuit parce que sinon personne s'inscrit,<br>
    mais ça veut pas dire qu'on va pas vous blinder de pubs :)</div>


    <div class="signup-form">
      <label>
        <input type="text" placeholder="username"
          [(ngModel)]="user.username" [class.error]="error_username" >
      </label>
      <label>
        <input type="password" placeholder="password"
          [(ngModel)]="user.password" [class.error]="error_password" >
      </label>

      <button type="submit" (click)="signup()">signup</button>
    </div>
  </div>

</div>
