.content {
  display: flex;
  justify-content: space-around;
}

.pub-1,
.pub-2 {
  height: 350px;
  width: 350px;
  background-color: #fff;
  margin: 15px;
}

.main-content {
  padding: 70px 0px;
}

.main-title,
.subtext {
  text-align: center;
}

.main-title {
  font-size: 25px;
  color: #3B5998;
  text-transform: lowercase;
  font-weight: 700;
}

.subtext {
  font-size: 12px;
  padding-bottom: 25px;
}

.signup-form {
  padding: 10px;
  width: 250px;
}

.signup-form label {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 35px;
}

.signup-form label.one-item {
  justify-content: flex-end;
}

.signup-form input {
  width: 250px;
}

