ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  app-friend {
    display: flex;
    border: 1px solid #bec3c9;
    height: 85px;
    width: 300px;
    margin: 5px 0;
    justify-content: space-around;

  }
}

