.nav-bar {
  background-color: #3B5998;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.site-title {
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  text-transform: lowercase;
}

.login-form {
  align-items: center;
  display: flex;
}

input {
  margin: 5px;
}


