<div class="nav-bar">
    <span class="site-title">SocialDeath</span>

    <div class="login-form">

        <input type="text" placeholder="username"
               [(ngModel)]="user.username" [class.error]="error_username">
        <input type="password" placeholder="password"
               [(ngModel)]="user.password" [class.error]="error_password">

        <button type="submit"(click)="login()">login</button>

    </div>

</div>
