.nav-bar {
  background-color: #3B5998;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.site-title {
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  text-transform: lowercase;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.link-group-1,
.link-group-2{
  align-items: center;

}
