<div class="nav-bar">

  <div class="link-group-1">
    <div><a routerLink="/news-feed">Fil d'actualité</a></div>

    <div><a routerLink="/users-list">Ajouter des amis</a></div>
  </div>


  <span class="site-title"><a routerLink="/wall">SocialDeath</a></span>

  <div class="link-group-2">
    <a (click)="logout()">Logout</a>
  </div>


</div>
